/* Color Theme Swatches in Hex */
.Copy-of-Flat-Blue-1-hex { color: #3498DB; }
.Copy-of-Flat-Blue-2-hex { color: #2980B9; }
.Copy-of-Flat-Blue-3-hex { color: #BDC3C7; }
.Copy-of-Flat-Blue-4-hex { color: #34495E; }
.Copy-of-Flat-Blue-5-hex { color: #2C3E50; }
